<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.autotrade.dao.PartsDao">

	<!-- 领料详情表公共结果映射 -->
	<resultMap id="BaseResultMap" type="com.autotrade.entity.RepairProject">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="commodity_number" jdbcType="VARCHAR" property="commodity_number" />
		<result column="number" jdbcType="INTEGER" property="number" />
		<result column="price" jdbcType="DECIMAL" property="price" />
		<result column="money" jdbcType="DECIMAL" property="money" />
		<result column="repair_id" jdbcType="BIGINT" property="repair_id" />
		<result column="create_time" jdbcType="DATE" property="create_time" />
	</resultMap>

	<!-- 领料详情表公共sql字段 -->
	<sql id="Base_Column_List">
		id, name, commodity_number, number, price, money,
		repair_id, create_time
	</sql>

	<!-- 新增 -->
	<insert id="insert" parameterType="com.autotrade.entity.Parts">
		insert into
		t_parts(
		brand,
		model,
		name,
		number,
		price,
		money,
		repair_id,
		create_time
		)values(
		#{brand},
		#{model},
		#{name},
		#{number},
		#{price},
		#{money},
		#{repair_id},
		#{create_time}
		)
	</insert>

	<!-- 根据主键删除 -->
	<delete id="deleteById" parameterType="java.lang.Long">
		delete from
		t_parts
		where id =
		#{id}
	</delete>
	<!-- 分页查询所有 -->
	<select id="selectAll" resultType="com.autotrade.entity.Parts">
		Select *
		from t_parts
		limit
		#{star},#{limit}
	</select>
	<!-- 查询所有数据数量 -->
	<select id="selectAllCount" resultType="java.lang.Integer">
		Select
		COUNT(*)
		from
		t_parts
	</select>
	<!-- 根据id查询领料信息 -->
	<select id="selectById" parameterType="java.lang.Long" resultType="com.autotrade.entity.Parts">
		Select
		*
		from t_parts
		where
		id = #{id}
	</select>

	<!-- 根据id修改领料详情 -->
	<update id="updateByid" parameterType="com.autotrade.entity.Parts">
		update  t_parts
		set name = #{name},
		brand = #{brand},
		model = #{model},
		number =#{number},
		price = #{price},
		money = #{money},
		repair_id = #{repair_id},
		create_time = #{create_time}
		where id =#{id}
	</update>

	<!-- 工单耗费材料展示 -->
	<select id="selectPartsShow" resultType="com.autotrade.entity.Parts">
		SELECT
		*
		FROM t_parts
		WHERE repair_id = #{repair_id}
		Limit #{star},#{limit}
	</select>
	<!-- 工单耗损材料数量 -->
	<select id="selectPartsShowCount" resultType="java.lang.Integer">
		SELECT
		Count(*)
		FROM t_parts
		WHERE repair_id = #{repair_id}
	</select>




</mapper>