<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autotrade.dao.UserDao">
	
	
	<!-- 根据用户名查询用户 -->
	<!-- User findUserByUserName(String username) -->
	<select id="findUserByUserName" resultType="com.autotrade.entity.User">
		select 
			*
		from 
		 	t_user 
		where 
		    username=#{username}
	</select>

	
	<!-- 添加用户  -->
	<!-- Integer insert(User user) -->
	<insert id="insert" parameterType="com.autotrade.entity.User"
			useGeneratedKeys="true"
			keyProperty="id">
		insert into 
			t_user(
				id,
				p_id,
				name,
				post,
				phone,
				username,
				password,
				status,
				key_word,
				address_id,
				create_time,
				update_time
			)values(
				null,
				#{pId},
				#{name},
				#{post},
				#{phone},
				#{userName},
				#{passWord},
				#{status},
				#{keyWord},
				#{addressId},
				#{createTime},
				#{updateTime}
			)
	</insert>


	<!-- 通过id修改用户信息  -->
	<!-- Integer updateUserById(Long id,User user) -->
	<update id="updateUserById" >
		update 
			t_user
		<set>
			<if test="pId!=null">
				p_id=#{pId},
			</if>
			<if test="name!=null">
				name=#{name},			
			</if>
			<if test="post!=null">
				post=#{post},
			</if>
			<if test="phone!=null">
				phone=#{phone},
			</if>
			<if test="userName!=null">
				username=#{userName},
			</if>
			<if test="passWord!=null">
				password=#{passWord},
			</if>
			<if test="status!=null">
				status=#{status},
			</if>
			<if test="keyWord!=null">
				key_word=#{keyWord},
			</if>
			<if test="createTime!=null">
				create_time=#{createTime},
			</if>
			<if test="updateTime!=null">
				update_time=#{updateTime}
			</if>
		</set>
		where id=#{id}
	</update>
		



</mapper>