<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.autotrade.dao.VehichileDetailedDao" >
  <resultMap id="BaseResultMap" type="com.autotrade.entity.VehichileDetailed" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="vehicle_code" property="vehicleCode" jdbcType="VARCHAR" />
    <result column="type" property="vehicle_type" jdbcType="VARCHAR" />
    <result column="type_number" property="brand" jdbcType="VARCHAR" />
    <result column="address" property="place" jdbcType="VARCHAR" />
    <result column="money" property="selling_price" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
  </resultMap>
 <!--  sql片段 -->
  <sql id="Base_Column_List" >
    id, vehicle_code, type, type_number, address, money, create_time
  </sql>
  <!-- 通过主键查询 -->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_vehichile_detailed
    where id = #{id}
  </select>
<!--   通过主键删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_vehichile_detailed
    where id = #{id}
  </delete>
 <!--  增加 -->
  <insert id="insert" parameterType="com.autotrade.entity.VehichileDetailed" >
    insert into t_vehichile_detailed (id, vehicle_code, type, 
      type_number, address, money, 
      create_time)
    values (#{id}, #{vehicleCode}, #{vehicle_type}, 
      #{brand}, #{place}, #{selling_price}, 
      #{createTime})
  </insert>

  <!-- 修改 指定属性-->
  <update id="updateByPrimaryKeySelective" parameterType="com.autotrade.entity.VehichileDetailed" >
    update t_vehichile_detailed
    <set >
      <if test="vehicleCode != null" >
        vehicle_code = #{vehicleCode,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="typeNumber != null" >
        type_number = #{typeNumber,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- 普通修改 -->
  <update id="updateByPrimaryKey" parameterType="com.autotrade.entity.VehichileDetailed" >
    update t_vehichile_detailed
    set vehicle_code = #{vehicleCode},
      type = #{vehicle_type},
      type_number = #{brand},
      address = #{place},
      money = #{selling_price},
      create_time = #{createTime}
    where id = #{id}
  </update>
  <!-- 通过车型代码查询数量 -->
  <select id="selectByVehicle_codeCount" resultType="java.lang.Integer">
  select 
  COUNT(*)
  FROM t_vehichile_detailed
  WHERE vehicle_code = #{vehicleCode}
  </select>
  <!-- 查询所有 -->
  <select id="selectAll" resultMap="BaseResultMap">
  SELECT 
  *
  FROM t_vehichile_detailed
  LIMIT #{star},#{limit}
  </select>
  <!-- 查询所有数量 -->
   <select id="selectAllCount" resultType="java.lang.Integer">
  SELECT 
    COUNT(*)
  FROM t_vehichile_detailed
  </select>
  
   <!-- 混合查询 -->
  <select id="hybridSelect" resultMap="BaseResultMap">
    select 
    *
    from t_vehichile_detailed
    where vehicle_code LIKE CONCAT('%',#{s},'%')
    or type  LIKE CONCAT('%',#{s},'%')
    or type_number  LIKE CONCAT('%',#{s},'%')  
    or address  LIKE CONCAT('%',#{s},'%')  
    limit #{star},#{limit}
  </select>
  <!-- 信息数量 -->
  <select id="hybridSelectCount" resultType="java.lang.Integer">
    select 
    COUNT(*)
    from t_vehichile_detailed
    where vehicle_code LIKE CONCAT('%',#{s},'%')
    or type  LIKE CONCAT('%',#{s},'%')
    or type_number  LIKE CONCAT('%',#{s},'%')  
    or address  LIKE CONCAT('%',#{s},'%')  
  </select>
</mapper>