<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.autotrade.dao.VehichleDao">
	<resultMap id="BaseResultMap" type="com.autotrade.entity.Vehichle">
		<id column="id" property="id" />
		<result column="vehicle_type" property="vehicleType" />
		<result column="brand" property="brand" />
		<result column="type" property="type" />
		<result column="create_time" property="createTime" />
	</resultMap>

	<insert id="insert" parameterType="com.autotrade.entity.Vehichle">
		insert into t_vehichle (id, vehicle_type, brand,
		type, create_time)
		values (#{id}, #{vehicleType}, #{brand},
		#{type}, #{createTime})
	</insert>
	<!-- 根据id删除 -->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from t_vehichle
		where id = #{id}
	</delete>
	<!-- 根据车牌删除 -->
	<delete id="deleteByBrand" parameterType="java.lang.String">
		delete from t_vehichle
		where brand = #{brand}
	</delete>

	<!-- 更改 -->
	<update id="updateByPrimaryKeySelective" parameterType="com.autotrade.entity.Vehichle">
		update t_vehichle
		<set>
			<if test="vehicleType != null">
				vehicle_type = #{vehicleType},
			</if>
			<if test="brand != null">
				brand = #{brand},
			</if>
			<if test="type != null">
				type = #{type},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
		</set>
		where id = #{id,}
	</update>

	<!-- 修改 -->
	<update id="updateByPrimaryKey" parameterType="com.autotrade.entity.Vehichle">
		update t_vehichle
		set vehicle_type = #{vehicleType},
		brand = #{brand},
		type = #{type},
		create_time = #{createTime}
		where id = #{id}
	</update>

     <!-- 根据主键查询 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		*
		from t_vehichle
		where id = #{id}
	</select>
    
    <!-- 分页查询所有 -->
    <select id="selectAll" resultMap="BaseResultMap">
		select
		*
		from t_vehichle limit #{star},#{limit}
	</select>
     <!-- 所有数据的数量 -->
    <select id="selectAllCount" resultType="java.lang.Integer">
		select
		COUNT(*)
		from t_vehichle
	</select>



</mapper>