/*布局*/
body {
    margin: 0;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    line-height: 60px;
    text-align: center;
    color: #fff;
}

.ico {
    cursor: pointer;
}

*::-webkit-scrollbar {
    display: none;
}

.secondNav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.secondNav .title {
    height: 60px;
    font-size: 24px;
    color: #333333;
    line-height: 60px;
    padding-left: 10px;
    border-left: 3px solid #6599ff;
    cursor: pointer;
}

.secondNav .btn {
    height: 40px;
}

.page-box {
    margin: 20px 0;
    justify-content: center;
}

.el-header, .el-footer {
    background-color: #545c64;
    color: #fff;
    text-align: center;
    line-height: 60px;
}

.el-aside {
    background-color: #545c64;
}

.el-aside a, .el-menu--popup-right-start a, .el-dropdown-menu a {
    text-decoration: none;
}

.el-menu {
    border-right: none !important;
}

.el-menu-item i {
    line-height: 56px;
}

.el-aside .el-menu-item-group {
    text-align: center;
}

.el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
}

table {
    color: #303133;
}

.main {
    padding: 20px 50px;
}

[v-cloak] {
    display: none;
}

.access .checkbox-group { /*权限*/
    padding-top: 4px;
}
