html,body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body{
    position: absolute;
    background: url("login.png") no-repeat center;
}
.main{
    position: absolute;
    bottom: 20%;
    right: 20%;
    width: 600px;
    height: 500px;
    flex-direction: column;
    align-items: center;
}
.title{
    text-align: center;
    font-size: 30px;
    color: #545c64;
    margin-bottom: 94px;
}
.submit{
    margin-top: 40px;
    width: 100%;
}
#code{
    width: 100px;
    height: 38px;
    cursor: pointer;
}
.el-input-group__append{
    padding: 0;
}
